body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

h1 {
  color: magenta;
  font-weight: bold;
  font-size: 34px;
}

nav {
  background-color: #666;
  padding: 10px;
  text-align: center;
}

nav a {
  color: blue;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px; 
}

.nav-button {
  display: inline-block;
  background-color: #4CAF50; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 10px 24px;
}

.blog-section {
  padding: 20px;
}

article {
  border: 1px solid blue; 
  margin-bottom: 20px;
  padding: 20px;
}


.cat-dogs-know {
  background-color: #FFCC66; 
  color: #333;
}

.raise-healthy-pets {
  background-color: #FF9999; 
  color: #333;
}

.attack-me {
  background-color: #FF9966; 
  color: #333;
}

.throw-birthday-party {
  background-color: #FFCCCC; 
  color: #333;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
